.circle-screen{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #cdcccd;
    flex: 1;
}

.circle-screen .circle{
    position: relative;
}

.circle-screen .video-container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    top:0;
}

.circle-screen .video-container video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 100vw;
}

.circle-screen .circle-image{
    height: 90vh;
    width: auto;
}

.circle-screen .circle-actor-img{
    position: absolute;
    bottom: 5vh;
    right: calc(50vh - 600px);
    height: 60vh;
    transition: all 1s;
}

.circle-screen .text-container{
    height: 100vh;
    width: 100vw;
    transition: all 1s;
    text-align: center;
    scrollbar-width: none;
    z-index: 5;
}

.circle-screen .text-container::-webkit-scrollbar {
    display: none;
}

.circle-screen .text-content{
    padding-top: 100vh;
    padding-bottom: 100vh;
    margin:0px auto;
    width: 1100px;
}

.circle-screen .text-content span{
    color: white;
    opacity: 0.7;
    font-size: 80px;
    line-height: 1.7em;
    transition: all 1s;
}

.circle-screen .actor-text-content.actor-text-content-secondary{
    top: 300px;
    width: 400px;
}

.circle-screen .side-text-content{
    transition: all 1s;
    position: absolute;
    width: 500px;
    top: 200px;
    left:100px;
    opacity: 0;
}

.circle-screen .side-text-content .header1{
    margin-bottom: 100px;
}
