.circle-screen{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #C6C4C6;
    flex: 1;
}

.circle-screen .circle{
    position: relative;
}

.circle-screen .video-container{
    padding: 200px;
    overflow: hidden;
}

.circle-screen .video-container video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.circle-screen .circle-image{
    height: 90vh;
    width: auto;
}

.circle-screen .circle-actor-img{
    position: absolute;
    bottom: 5vh;
    right: 0px;
    height: 60vh;
    transition: all 1s;
}

.circle-screen .text-content{
    top: 0;
    position: absolute;
    padding: 14%;
    transition: all 1s;
}

.circle-screen .text-content span{
    color: white;
    opacity: 0.5;
    transition: all 1s;
}

.circle-screen .actor-text-content{
    transition: all 1s;
    position: absolute;
    width: 500px;
    top: 20px;
    left:-300px;
    opacity: 0;
}

.circle-screen .actor-text-content.actor-text-content-secondary{
    top: 300px;
    width: 250px;
}
