.phase-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    flex: 1;
    background: white;
    transition: all 2s;
    padding-top: var(--header-height);
    overflow: scroll;
}

.phase-screen .middle-line{
    height: 0px;
    width: 4px;
    transition: all 3s;
    position: absolute;
    left: calc(50% - 2px);
    top: 0;
    background: black;
    min-height: 1138px;
}

.phase-screen .phase{
    opacity: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    width: calc(calc(300px*2) + calc(130px*2));
    background-size: auto 48px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    transition: all 1.5s;
    background-image: url('/public/images/phase-screen/phase-tracker.svg');
}


.phase-screen .phase .left-container{
    width: 300px;
    margin-right: 130px;
}

.phase-screen .phase .header1{
    margin-bottom: 30px;
    margin-top: 0px;
}

.phase-screen .phase .right-container{
    position: relative;
    width: 300px;
    margin-left: 130px;
}

.phase-screen .phase img{
    width: 200px;
    height: auto;
}

.phase-screen .phase img.floating-img{
    position: relative;
    top: -130px;
    left: 150px;
}
