.fashion-screen{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    /*height: 1915px;*/
}
.fashion-screen .images-container{
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
}

.fashion-screen .images-container .column{
    position: relative;
    width: 33.33%;
    /*flex:1;*/
}

/*.fashion-screen .images-container .column.column1 .image-container{*/
/*    background: red;*/
/*}*/
/*.fashion-screen .images-container .column.column2 .image-container{*/
/*    background: yellow;*/
/*}*/
/*.fashion-screen .images-container .column.column3 .image-container{*/
/*    background: gray;*/
/*}*/


.fashion-screen .images-container .column.column1 img{
    transition: all 0.5s;
}

.fashion-screen .images-container .column.column2 img{
    transition: all 0.8s;
}

.fashion-screen .images-container .column.column3 img{
    transition: all 1s;
}

.fashion-screen .images-container img{
    position: relative;
    z-index: 1;
}

.fashion-screen .text-container .header1{
    position: absolute;
    width: 400px;
    top: 90px;
    left: 50%;
}
