.fashion-screen{
    display: flex;
    align-items: center;
    justify-content: right;
    flex: 1;
}
.fashion-screen .images-container{
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
}

.fashion-screen .images-container .column{
    position: relative;
    width: 33.33%;
}

/*.fashion-screen .images-container .column.column1 .image-container{*/
/*    background: red;*/
/*}*/
/*.fashion-screen .images-container .column.column2 .image-container{*/
/*    background: yellow;*/
/*}*/
/*.fashion-screen .images-container .column.column3 .image-container{*/
/*    background: gray;*/
/*}*/


.fashion-screen .images-container .column.column1 img{
    transition: all 0.4s;
}

.fashion-screen .images-container .column.column2 img{
    transition: all 0.8s;
}

.fashion-screen .images-container .column.column3 img{
    transition: all 1s;
}

.fashion-screen .images-container img{
    position: relative;
    z-index: 1;
}

.fashion-screen .text-container{
    position: absolute;
    width: 100vw;
    top: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 25%;
}

.fashion-screen .text-container .text-content{
    position: sticky;
    width: 450px;
    padding-top: 125px;
    top: 0px;
    z-index: 100;
}

.fashion-screen .text-container .text-content h1{
    background: var(--white-background);
}

.fashion-screen .text-container .text-content .header1{
    margin-bottom: 0px;
}

.fashion-screen .text-container img{

}
