.fashion-screen{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100vh;
}
.fashion-screen .images-container{
    flex: 1;
    min-height: 100vh;
    position: relative;
    display: flex;
}

.fashion-screen .images-container .column{
    position: relative;
    flex:1;
}

.fashion-screen .images-container .column.column1 img{
    transition: all 0.9s;
}

.fashion-screen .images-container .column.column2 img{
    transition: all 1.4s;
}

.fashion-screen .images-container .column.column3 img{
    transition: all 1.8s;
}

.fashion-screen .images-container img{
    position: absolute;
    /*opacity: 0;*/
    transform: translateY(100vh);
}

.fashion-screen .text-container .header1{
    position: absolute;
    width: 400px;
    top: 90px;
    left: 50%;
}
