.actor-screen{
    display: flex;
    width: 100%;
}

.text-container{
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-modal{
    flex: 1;
    position: relative;
}

.image-modal .actor,
.image-modal .mash{
    height: 100%;
    background-size: auto calc(100vh - 100px);
    background-position: center 100px;
    background-repeat: no-repeat;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.image-modal .actor{
    background-image: url('/public/images/actor-screen/actor.png');
}

.image-modal .mash{
    background-image: url('/public/images/actor-screen/mesh.png');
    transform: translate(0, 100vh);
    transition: all 2s;
}

.image-modal .mash.to-top{
    transform: translate(0, 0);
}

.actor-screen .header1{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 80px;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 450px;
}
