.actor-screen{
    display: flex;
    width: 100%;
}

.actor-screen .scroll-contents .scroll-content1{
    height: 105vh;
    background: red;
}

.actor-screen .scroll-contents .scroll-content2{
    height: 10vh;
    background: yellow;
}

.actor-screen .scroll-contents .scroll-content3{
    height: 10vh;
    background: green;
}

.actor-screen .scroll-contents .scroll-content4{
    height: 10vh;
    background: blue;
}

.image-modal{
    flex: 1;
    position: relative;
}

.image-modal.first-part .actor{
    height: 33.33%;
}

.image-modal.second-part .actor{
    height: 66.66%;
}

.image-modal.third-part .actor{
    height: 100%;
}

.image-modal .actor,
.image-modal .mash{
    height: 100%;
    background-size: auto 90%;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.image-modal .actor{
    background-image: url('/public/images/actor-screen/actor.png');
    height: 33.33%;
    transition: all 2s;
}

.image-modal .mash{
    background-image: url('/public/images/actor-screen/mesh.png');
}

.actor-screen .header1{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 80px;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 450px;
}
