.side-text{
    --font-size: 10px;
    font-size: var(--font-size);
    display: flex;
    justify-content: center;
    align-items: center;

    transform: rotate(90deg);
    position: fixed;
    top: calc(50vh - calc(var(--font-size) *2));
    width: 100vh;
    left: calc(100vw - 50vh - var(--font-size));
}
