.black-screen{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 1;
    background: black;
    transition: all 2s;
}

.black-screen .text-container{
    position: absolute;
    top: 20%;
    color: white;
    left: 60px;
    width: 500px;
}

.black-screen .mash{
    height: 100%;
    background-size: auto calc(100vh - var(--header-height));
    background-position: center var(--header-height);
    background-repeat: no-repeat;
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    background-image: url('/public/images/black-screen/mesh.png');
}

.black-screen .actor-image{
    height: 250px;
    z-index: 1;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right:30%;
    top:20%;
    width:200px;
    background-image: url('/public/images/black-screen/actor.png');
}

.black-screen .actor-video{
    height: 350px;
    width: 500px;
    position: absolute;
    right:20%;
    bottom:10%;
    transition: all 2s;
}

.black-screen .actor-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
