@import '../../../assets/scss/_mixin';
$big-screen-break: 1450px;
$medium-screen-break: 1100px;
$small-screen-break: 600px;

.actor-screen {
  display: flex;
  width: 100%;

  .text-container {
    position: relative;
    padding-left: 80px;
    padding-top: calc(var(--header-height) * 1.5);
    overflow-y: auto;
    @include hideScrollBar();
    @include maxMedia($medium-screen-break) {
      flex:1;
      padding-left: 0px;
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    @include minMedia($medium-screen-break) {
      padding-left: 60px;
    }

    .text-content{
      width: 80%;
      .header1 {
        margin-top: 0px;
        margin-bottom: 0px;
        width: 600px;
        font-size: 60px;
        @include maxMedia($big-screen-break) {
          font-size: 50px;
        }
        @include maxMedia($small-screen-break) {
          font-size: 30px;
        }
        @include maxMedia($medium-screen-break) {
          width: auto;
        }
        @include minMaxMedia($medium-screen-break, $big-screen-break){
          width: 400px;
        }
      }
    }

    .text-content1 {
      animation-delay: 0.6s;
    }
  }


  .image-modal {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    @include maxMedia(1100px) {
      display: none;
    }

    img {
      height: 90%;
      width: auto;
      @include minMedia($big-screen-break) {
        height: 90%;
        width: auto;
      }

      &.actor-img {
        position: absolute;
      }
    }

    .mash.to-top {
      height: 100%;
    }
  }
}
