.screen-container .square{
    width: 60vw;
    height: 50vh;
    border: 10px solid black;
    border-radius: 40px;
    position: relative;
}

.screen-container .square .square-text-container{
    position: absolute;
    bottom: -96px;
    left: -50px;
    display: inline;
    width: 500px;
}

.screen-container .square span {
    background: white;
}

