.screen-container{
    display: flex;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    align-items: center;
    justify-content: center;
}

.screen-container .square{
    width: 60vw;
    height: 50vh;
    border: 10px solid black;
    border-radius: 40px;
    position: relative;
}

.screen-container .square .square-text-container{
    position: absolute;
    bottom: -96px;
    left: -50px;
    display: inline;
    width: 500px;
}

.screen-container .square span {
    background: white;
}

