.team-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    flex: 1;
    background: white;
    transition: all 2s;
    padding-top: var(--header-height);
}

.team-screen .title{
    width: 100%;
    text-align: center;
    background: white;
    z-index: 2;
}

.team-screen .title h1{
    margin: 0px;
    margin-bottom: 100px;
}

.team-screen .team-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-screen .team-row{
    display: flex;
    width: 100%;
    opacity: 0;
    transform: translateY(500px);
    transition: all 1.2s;
    position: absolute;
    top: 400px;
}

.team-screen .team-list .team-member{
    width: 180px;
    margin-bottom: 60px;
    margin-right: 60px;
}

.team-screen .team-list .team-member:last-of-type{
    margin-right: 0px;
}

.team-screen .team-list .team-member .text-container{
    width: 140px;
    min-height: 135px;
}

.team-screen .team-list .team-member h3{
    margin:0px;
    font-size:20px;
}

.team-screen .team-list .team-member .description{
    font-size: 12px;
}

.team-screen .team-list .team-member img{
    width: 100%;
    height: auto;
    border-top-right-radius: 67px;
}
