.square-screen{
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen-container .square{
    width: 60vw;
    height: 50vh;
    border: 10px solid black;
    border-radius: 40px;
    position: relative;
}

.screen-container .square .square-text-container{
    position: absolute;
    bottom: -96px;
    left: -50px;
    display: inline;
    width: 500px;
}

.screen-container .square span {
    background: white;
}

.screen-container .square .video-container{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
}

.screen-container .square .video-container video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
