.app-footer{
    position: fixed;
    bottom:30px;
    right:30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition: all 2s;
}
